---
---
body
  color: #162C4D
  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif
  font-weight: normal
  font-size: 14px
  background-image: url("../images/dot_tile.png")
  background-repeat: repeat
  height: 100%

#main_wrap
  height: auto
  min-height: 100%

#main_content
  overflow: auto
  padding-bottom: 80px
  padding-top: 40px
  color: #465c7d

#left_nav
  margin-top: 30px

#nav_logo
  padding-left: 26px
  margin-right: -26px

.home_content
  overflow: auto
  font-weight: bold
  blockquote
    font-size: 16px
    font-weight: bold
    margin: 20px
    em
      text-align:right
      font-style:italic



/* Footer */

#footer
  background-image: url("../images/dot_tile_footer.png")
  background-repeat: repeat
  position: relative
  height: 80px
  margin-top: -80px
  clear: both
  width: 100%

#footer_nav, #footer_final
  display: table
  color: #162C4D
  margin-left:auto
  margin-right:auto
  position: relative
  top: 30px

#footer_nav
  font-size: 14px
  line-height: 22px

#footer_final
  line-height: 16px
  font-size: 11px

#footer_nav a
  color: #162C4D
  text-decoration:none
  font-weight:bold

#footer_nav a:hover
  color: #2D63B5
