    <!-- header -->
    <div id="header" class="container_12">
      <div id="nav_logo"  class="grid_3"><img src="{{ site.url }}/images/logo_clearbg_184_120.png"></div>
      <div id="left_nav"  class="grid_9">
        <img id="nav_blog" src="{{ site.url }}/images/disabled/nav_blog.png">
        <a href="resume.html"><img id="nav_resume" class="rollover" src="{{ site.url }}/images/default/nav_resume.png" data-rollover="{{ site.url }}/images/hover/nav_resume.png"></a>
        <a href="contact.html"><img id="nav_contact" class="rollover" src="{{ site.url }}/images/default/nav_contact.png"   data-rollover="{{ site.url }}/images/hover/nav_contact.png"></a>
        <img id="nav_portfolio" src="{{ site.url }}/images/disabled/nav_portfolio.png">
      </div>
    </div>
    
