<nav class="navbar navbar-default navbar-static-top" role="navigation" id="navbar-header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-header-menu">
	<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/images/header_brand_logo.png" id="navbar-header-logo"></a>
    </div>

    <div class="navbar-right collapse navbar-collapse" id="navbar-header-menu">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">HOME</a>
          <img id="header-navbar-active"  rc="header-nav-active.png">
        </li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">RESUME</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>

  </div>
</nav>
