
#### Hi, I'm Creighton Higgins, I build web applications.

* My design sensibility is based on building beautiful, useful tools that get out of your way when it's time to get to work.
* I'm delighted with the growing sophistication of front-end technologies, the simplification and standardization of back-end technologies, and the growth of Agile and TDD.
* My ears get hot any time someone says "full stack", even if it's just about pancakes.
* I have over a dozen years building high availaility web applications, lots of them with Perl.
* Lately I've been coding Ruby, wiring up Backbone.js, designing with grids, and styling with SASS.

_If you've got a project you'd like to discuss, don't hesitate to contact me. Let's talk about what you want to get done, and what sorts of beautiful tools we can build to do it._
