<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content container">
      <!-- main content -->
      <div id="main_content" class="home_content">
        <div class="wrap">
        {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>
